body {
  font-family: "Noto Sans", Verdana, sans-serif;
  background-color: #970000;
    opacity:1;
    background-image:  linear-gradient(#680606 1px, transparent 1px), linear-gradient(to right, #750404 1px, #970000 1px);
    background-size: 20px 20px;
}

b, strong, i {
  font-family:  "Noto Sans", Verdana, sans-serif;
}

h2{
    margin:0
}

h3 {margin-top:0;}

p {
    margin:0;
}

.snippet {
    font-family: "Space Mono", Courier, monospace;
    border: 1px solid gray;
    background-color: #f4f4f4;
    padding: 0px 2px;
    border-radius: 5px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;  
    height: 100vh;
}

.section {
    background-color: white;
    padding: 6vh;
    border-radius: 2vh;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; 
    visibility: hidden;
    pointer-events: none;
}

.section.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
}

.section.slide-in-start {
    transform: translateX(100%); 
}

.section.slide-out-end {
    transform: translateX(-100%);
}

.tag-list {
    list-style-type: none; 
    padding-left: 0;
}

.count {
    font-family: "Calibri", sans-serif;
    background-color: #15508b;
    color: white;
    padding: 0px 3px;
    border-radius: 3vh;
    font-size: 0.9rem;
    position: relative;
     display: inline-block;
     width: 30px;
     text-align: center;
}

.count:hover .tooltiptext {
    visibility: visible;
}

.tooltiptext {
  visibility: hidden; 
  width: max-content;
  font-family: "Calibri", sans-serif;
  background-color: black;
  color: #ffffff;
  text-align: center;
  padding: 0 0.5vh 0.3vh 0.5vh;
  position: absolute;
  z-index: 1; 
  opacity: 0.8;
}